<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Ponies</title>
</head>
<body>
  <a href="{{ url_for('index') }}">
    {{ ponies }} ponies!
  </a>
  <a href="{{ url_for('add_pony')}}">Add a new pony</a>
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth Year</th>
            <th>Breed</th>
        </tr>
    </thead>
    <tbody>
        {% for pony in ponies %}
        <tr>
            <td>{{pony.name}}</td>
            <td>{{pony.birth_year}}</td>
            <td>{{pony.breed}}</td>
            <td>
              <form method="POST" action="{{ url_for('delete_pony', id=pony.id) }}">
                <button type="submit">Delete</button>
              </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
