<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Form</title>
</head>
<body>
  <form method="post" action="/simple-form">
    {{ form.csrf_token }}
    <div>
      {{ form.name.label }} {{ form.name }}

      {% if form.name.errors %}
        <ul>
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.age.label }} {{ form.age }}
    </div>
    <div>
      {{ form.bio.label }} {{ form.bio }}
    </div>
    <div>{{ form.submit }}</div>
  </form>
</body>
</html>
