{% extends "base.html" %}

{% block content %}
<div id="workspace">
  <header class="actions-header">
    <form class="assignment-form" method="post" action="{{ url_for('.assign') }}">
      {{ taf.csrf_token }}
      <div class="assignment-form-title">Assign Table</div>
      <div>
        <div class="assignment-form-select">{{ taf.employees }}</div>
        {% if taf.employees.errors %}
          <ul>
            {% for error in taf.employees.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div>
        <div class="assignment-form-select">{{ taf.tables }}</div>
        {% if taf.tables.errors %}
          <ul>
            {% for error in taf.tables.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="assignment-form-submit">{{ taf.submit(class="button assign") }}</div>
    </form>
    <form class="logout-form" method="post" action="{{ url_for('session.logout') }}">
      <button class="logout">{{ logoutform.submit }}</button>
    </form>
  </header>
</div>
{% endblock %}
