{% extends "base.html" %}

{% block content %}
<h1>Order Up!</h1>
<form method="post" action="{{ url_for('session.logout') }}">
    <div>{{ logoutform.submit }} - Logout</div>
  </form>
<form method="post" action="{{ url_for('orders.assign') }}">
    <div>
        {{ form.employee_number.label }} {{ form.employee_number }}

        {% if form.employee_number.errors %}
          <ul>
            {% for error in form.employee_number.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    <div>
        {{ form.table_number.label }} {{ form.table_number }}

        {% if form.table_number.errors %}
          <ul>
            {% for error in form.table_number.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    <div>{{ form.submit }} Assign</div>
  </form>

{% endblock %}
